AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT="https://openai1704canadaeast.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2023-07-01-preview"
AZURE_OPENAI_DEPLOYMENT="gpt-4-1106"
DATA_LAKE_NAME="datalake150524"
DATA_LAKE_KEY=""
CONTAINER_NAME_FOR_JSONS="jsons"

