
SYSTEM:
Your job is to extract any request made by the customer as part of the context provided to you right below. 
The request is usually a support request or a question that the customer is asking.
If no request is found, please return "No request found".

CONTEXT:
{{context}}