
SYSTEM:
Write a report containing the following data, based on the context provided below:
1. Order number
2. Order date
3. Customer name
4. The final value of the order, including discount, taxes and freight

The report should be in simple markdown format for easy display on a web page.

CONTEXT:
{{context}}
